.bookImg {
    width: 180px;
    height: 270px;
    margin-top: 5px;
}

.cartMinHeight {
    min-height: 455px;
}


.cartBox {
    transition: box-shadow 300ms ease-in-out;
}

.cartBox:hover,
.cartBox:focus {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
}

