.bookPageImg {
    width: 330px;
    height: 512px;
}

.bookDescription {
    max-width: 550px;
}

.leftBox {
    display: block;
    width: calc(-358px + 100vw);
}

.rightBox {
    display: block;
    width: 330px;
}

.priceBox {
    display: flex;
    padding: 15px 20px 20px;
    flex-direction: column;
    border: 1px solid rgb(240, 245, 244);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px 0px;
}

.availableBox {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.rightBoxTextBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
}