.cartBookImg {
    width: 100px;
    height: 140px;
}

.bookBox {
    display: flex;
    flex-direction: column;
    padding: 25px 25px 0;
    width: 70%;
    position: relative;
}

.shippingInfo {
    width: 100%;
    padding: 12px 0;
    background: rgb(255, 236, 190);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgb(0, 0, 0);
}

.bookBox:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(208, 226, 223);
    margin-top: 30px;
}


.availableBox {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.basketBtn {
    border: none;
    background-color: transparent;
    color: #747474;
    transition: color var(--transition);
}

.basketBtn:focus,
.basketBtn:hover {
    color: var(--red);
    outline: none;
    border: none;
    background-color: transparent;
}

.emptyCartMinHeight {
    min-height: 380px;
}

.quantityBtn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: transparent;
    color: var(--green);
    transition: background-color var(--transition);
}


.quantityTextBox {
    width: 55px;
    height: 40px;
    margin: 0px 10px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgb(0, 0, 0);
}


.quantityBtn:focus,
.quantityBtn:hover {
    background-color: var(--background-grey);
}

.pricingBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.pricingTextBox {
    width: 40%;
    border: 1px solid rgb(208, 226, 223);
    border-radius: 5px;
    margin: 14px 0;
    padding: 8px 20px 15px;
    gap: 5px;
}