.footerBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    margin-top: 30px;
    padding: 0 40px;
    text-align: start;
    margin-bottom: 20px;
}


.footerContentBox {
    text-align: start;
    width: 100%;
    justify-content: space-between;
    display: flex;
}


.footerBox:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(208, 226, 223);
    margin-bottom: 30px;
}

.socialBox {
    display: flex;
    justify-content: start;
    margin-top: 20px;
    align-items: center;
    gap: 15px;
}

.footerTextBox {
    min-width: calc((100% / 3) - 180px);
    padding: 0 60px;
}


.footerText {
    color: var(--dark-grey);
    transition: color var(--transition);
    cursor: pointer;
}

.footerText:focus,
.footerText:hover {
    color: var(--green);
}

@media screen and (max-width: 767.9px) {
    .footerContentBox {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .footerTextBox {
        padding: 0;
        width: 260px;
    }

    .footerBox {
        justify-content: center;
        align-items: center;
    }
}
