.cartButtonBox {
    position: relative;
}

.cartButtonTextBg {
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    bottom: 60%;
    right: 0;
    background-color: var(--green);
    padding: 3px 5px 3px;
    border-radius: 10px;
    height: 9px;
    text-align: center;
}

.cartButtonText {
    color: var(--background-white);
    font-size: 8px;
}

.navBarBox {
    width: 100%;
    height: 60px;
    padding: 0 40px;
    background-color: var(--background-grey);
    box-sizing: border-box;
}

.navLogo {
    height: 50px;
}

.navInput {
    background-color: var(--background-white);
    width: 60%;
    padding: 9.5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.searchBtn {
    border-radius: 0 8px 8px 0;
    padding: 6.35px 12px 6.35px 10px;
}